<div class="jumbotron">
	<p class="bg-danger">
		Fields marked <span style="color: red">*</span> are mandatory.
	</p>
	<form class="form-horizontal" ng-submit="submitForm(userForm.$valid)" name="userForm" novalidate>
		<div class="form-group">
			<label class="col-sm-2 control-label required">First Name</label>
			<div class="col-sm-3"
			ng-class="{ 'has-error' : userForm.firstName.$invalid && !userForm.firstName.$pristine }">

			<input type="text" name="firstName" class="form-control" placeholder="First Name" 
			ng-model="firstName" required>

			<p class="help-block" ng-show="userForm.firstName.$invalid && !userForm.firstName.$pristine" >
				First Name is required.</p>
			</div>
			<label class="col-sm-2 control-label">Last Name</label>
			<div class="col-sm-3">
				<input type="text" name="LastName" class="form-control" placeholder="Last Name" 
				ng-model="lastName">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label required">Email</label>
			<div class="col-sm-8" 
			ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">

			<input type="eamil" name="email" class="form-control" placeholder="Email" 
			ng-model="email" required>

			<p class="help-block" ng-show="userForm.email.$invalid && !userForm.email.$pristine" >
				Enter a valid email.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label required">Sex</label>
			<div class="col-sm-3" 
			ng-class="{ 'has-error' : userForm.sex.$invalid && !userForm.sex.$pristine }">
			<select class="form-control" name="sex" ng-model="sex" required >
				<option value="">Select Sex</option>
				<option value="male">Male</option>
				<option value="female">Female</option>
			</select>

			<p class="help-block" ng-show="userForm.sex.$invalid && !userForm.sex.$pristine" >
				Please select your sex.</p>
			</div>
			<label class="col-sm-2 control-label required">Maritial Status</label>
			<div class="col-sm-3" 
			ng-class="{ 'has-error' : userForm.wife.$invalid && !userForm.wife.$pristine }">
			<select class="form-control" name="wife" ng-model="wife" required>
				<option value="">Select status</option>
				<option value="bachlor">Bachlor</option>
				<option value="married">Married</option>
				<option value="divorced">Divorced</option>
			</select>

			<p class="help-block" ng-show="userForm.wife.$invalid && !userForm.wife.$pristine" >
				Please select your maritial status.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label required">Mobile Number</label>
			<div class="col-sm-3"
			ng-class="{ 'has-error' : userForm.tel.$invalid && !userForm.tel.$pristine }">

			<input type="tel" name="tel" class="form-control" placeholder="Phone Number" 
			ng-model="tel" required ng-minlength="10" ng-maxlength="11" required>

			<p class="help-block" ng-show="userForm.tel.$invalid && !userForm.tel.$pristine" >
			Check your mobile number.</p>
			</div>
			<label class="col-sm-2 control-label">City</label>
			<div class="col-sm-3">
				<select class="form-control" name="city" ng-model="city">
					<option value="">Select City</option>
					<option value="pune">Pune</option>
					<option value="mumbai">Mumbai</option>
				</select>
			</div>
		</div>
		<div class="page-header">
  			<h3>Basic Property Details</h3>
  			<hr style="border-top-color: rgb(93, 85, 85)">
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Site Location</label>
			<div class="col-sm-3">
				<select class="form-control" name="siteloc" ng-model="siteloc" 
											ng-options="site for site in sites" required>
					<option value="">Select Site</option>
					<option ng-value="{{site}}"></option>
				</select>
			</div>
			<label class="col-sm-2 control-label required">Approx. Budget</label>
			<div class="col-sm-3" 
			ng-class="{ 'has-error' : userForm.budget.$invalid && !userForm.budget.$pristine }">
			<input type="text" class="form-control" name="budget" ng-model="budget" required>
			<p class="help-block" ng-show="userForm.budget.$invalid && !userForm.budget.$pristine" >
				Enter your budget.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label required">Property Type</label>
			<div class="col-sm-3" 
			ng-class="{ 'has-error' : userForm.size.$invalid && !userForm.size.$pristine }">
			<select class="form-control" name="size" ng-model="size" required>
				<option value="">Select type</option>
				<option value="1RK">1Rk</option>
				<option value="1BHK">1BHK</option>
				<option value="2BHK">2BHK</option>
				<option value="3BHK">3BHK</option>
				<option value="Bunglow">Bunglow</option>
				<option value="Land">Land</option>
			</select>

			<p class="help-block" ng-show="userForm.size.$invalid && !userForm.size.$pristine" >
				Select your appartment type.</p>
			</div>
			<label class="col-sm-2 control-label required">Rent / Purchase</label>
			<div class="col-sm-3" 
			ng-class="{ 'has-error' : userForm.rp.$invalid && !userForm.rp.$pristine }">
			<select class="form-control" name="rp" ng-model="rp" required>
				<option value="">Select</option>
				<option value="rent">Rent</option>
				<option value="purchase">Purchase</option>
				<option value="loan">Bank loan</option>
			</select>

			<p class="help-block" ng-show="userForm.rp.$invalid && !userForm.rp.$pristine" >
				Select your Property type.</p>      	
			</div>
		</div>
		<hr style="border-top-color: rgb(93, 85, 85)">
		<div class="form-group">
			<label class="col-sm-2 control-label required">Bedroom</label>
			<div class="col-sm-3" 
			ng-class="{ 'has-error' : userForm.bedroom.$invalid && !userForm.bedroom.$pristine }">
			<select class="form-control" name="bedroom" ng-model="bedroom" required>
				<option value="">Select type</option>
				<option value="With Bedroom">With Bedroom</option>
				<option value="Without Bedroom">Without Bedroom</option>
			</select>

			<p class="help-block" ng-show="userForm.bedroom.$invalid && !userForm.bedroom.$pristine" >
				Select with bedroom.</p>
			</div>
			<label class="col-sm-2 control-label required">Bathroom</label>
			<div class="col-sm-3" 
			ng-class="{ 'has-error' : userForm.bathroom.$invalid && !userForm.bathroom.$pristine }">
			<select class="form-control" name="bathroom" ng-model="bathroom" required>
				<option value="">Select</option>
				<option value="With Attached Bathroom">With Attached Bathroom</option>
				<option value="Without Attached Bathroom">With Attached Bathroom</option>
			</select>

			<p class="help-block" ng-show="userForm.bathroom.$invalid && !userForm.bathroom.$pristine" >
				Select with bathroom.</p>      	
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label required">Property Address</label>
			<div class="col-sm-3"
			ng-class="{ 'has-error' : userForm.paddress.$invalid && !userForm.paddress.$pristine }">

			<input type="text" name="paddress" class="form-control" placeholder="Address" 
			ng-model="paddress" required>

			<p class="help-block" ng-show="userForm.paddress.$invalid && !userForm.paddress.$pristine" >
				Enter Address info.</p>
			</div>

			<label class="col-sm-2 control-label required">city</label>
			<div class="col-sm-3" 
			ng-class="{ 'has-error' : userForm.pcity.$invalid && !userForm.pcity.$pristine }">

			<select class="form-control" name="pcity" ng-model="pcity" ng-options="city for city in cities" required>
				<option value="">Select City</option>
			</select>

			<p class="help-block" ng-show="userForm.pcity.$invalid && !userForm.pcity.$pristine">
				Select city.</p>      	
			</div>
		</div>
		<hr style="border-top-color: rgb(93, 85, 85)">
		
		<div class="form-group">
			<span class="col-sm-2"></span>
				<div class="col-sm-8">
					<button type="submit" class="btn btn-primary btn-sm btn-block" ng-disabled="userForm.$invalid">Submit</button>
				</div>
			</div>
		</form>
	</div>